body{
  margin: 0;
  padding: 0;
}

.loader{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-top: 4px solid #262626;
  display: flex;
  padding: 0 40px 20px;
}

.loader span{
  position: relative;
  display: block;
  width: 2px;
  height: 300px;
  background: #262626;
  margin: 0 29px;
  transform-origin: top;
}

.loader span:before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background: #262626;
  border-radius: 50%;
  transform: translateX(-50%);
}

.loader span:first-child{
  animation: animate 1s linear infinite;
}

.loader span:last-child{
  animation: animate2 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes animate{

  0%{
    transform: rotate(0deg);
  }

  25%{
    transform: rotate(60deg);
  }

  50%{
    transform: rotate(0deg);
  }

  100%{
    transform: rotate(0deg);
  }
}

@keyframes animate2{

  0%{
    transform: rotate(0deg);
  }

  25%{
    transform: rotate(-60deg);
  }

  50%{
    transform: rotate(0deg);
  }

  100%{
    transform: rotate(0deg);
  }
}