body{
  margin: 0;
  padding: 0;
  background: #262626;
}

.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.pulse{
  width: 150px;
  height: 150px;
  background: #4169e1;
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
  text-align: center;
  line-height: 150px;
  font-family: verdana;
  animation: animate 3s linear infinite;
}

@keyframes animate{
  0%{
    box-shadow: 0 0 0 0 rgba(65, 105, 255, .7), 0 0 0 0 rgba(65, 105, 255, .7);
  }
  40%{
    box-shadow: 0 0 0 50px rgba(65, 105, 255, 0), 0 0 0 0 rgba(65, 105, 255, .7);
  }
  80%{
    box-shadow: 0 0 0 50px rgba(65, 105, 255, 0), 0 0 0 30px rgba(65, 105, 255, 0);
  }
  100%{
    box-shadow: 0 0 0 0 rgba(65, 105, 255, 0), 0 0 0 30px rgba(65, 105, 255, 0);
  }
}